@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$font-heading: "Rubik", sans-serif;

$color-purple-dark: #210535;
$color-purple: #430d4b;
$color-purple-light: #7b337d;
$color-pink: #c874b2;
$color-pink-bright: #ff07a4;
$color-green: #34eb43;
$color-orange: #f86911;
$color-red: #9c0b0b;
$color-white: #fff;
$color-black-vanta: #000;
$color-black: #1a1a1a;
$color-dark-gray: #242424;
