@import "../../scss/variables";

.questionCard {
  background-color: $color-dark-gray;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: 1px 4px 29px rgba(0, 0, 0, 0.636);
  border: 1px solid $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__type {
    background-color: $color-black;
    padding: 0.3rem 0.75rem;
    border-radius: 0.25rem;
    color: $color-gray-medium;
  }

  &__question {
    font-family: $font-heading;
    font-weight: 700;
    font-style: italic;
    margin: 2rem 0;
    font-size: 2.5rem;
    line-height: 1.1;
  }

  &__answers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1rem 0;
  }

  &__timer {
    background-color: $color-black;
    width: fit-content;
    margin: 1rem 0 0 0;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    p {
      font-family: $font-heading;
      font-weight: 900;
      font-size: 1.5rem;
      color: $color-white;
    }
  }
}
